* {
    font-family: Arial, Helvetica, sans-serif;
}


body {
    width: 100%;
    /* min-height: 100vh; */
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #021024;
    color: #C1E8FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.nav-items{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    width: 100%;
}

/* Navigation Bar */
.navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: #052659;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #C1E8FF;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar .nav-links{
    width: 80%;
}

.navbar .nav-links .nav-container{
    display: flex;
    align-items: center;
    width: 100%;
    /* margin-left: 6rem; */
    justify-content: space-around;
    letter-spacing: 3px;
    list-style: none;
}

.navbar .nav-links .nav-container a {
    color: #C1E8FF;
    text-decoration: none;
    font-size: 1.2rem;
}

.navbar .nav-links .nav-container a:hover {
    text-decoration: underline;
}

.navbar .nav-links .nav-container #active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    font-weight: bolder;
}

.burger {
    display: none;
    padding: 0.5rem;
    cursor: pointer;
    border:none;
}

.line {
    display: block;
    height: 2px;
    width: 35px;
    margin: 0.5rem 0;
    background: #C1E8FF;
    transition: transform 0.75s ease, opacity 0.75s ease;
    justify-content: end;
    align-items: end;
}
.navbar .logo-container{
    display: none;
    padding-bottom: 5px;
}

/* Mobile Nav*/
.navbar.show .line1 {
    transform: translate(-10px) rotate(45deg) translate(15px);
}

.navbar.show .line2 {
    opacity: 0;
}

.navbar.show .line3 {
    transform: translate(-10px) rotate(-45deg) translate(15px);
}

.navbar.show .nav-links {
    transform: translateX(0%);
}
main.darken {
    filter: brightness(40%);
}




/* ---------------------------------------------------- */
/* Landing Page styling */
.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    margin: 20px 10px;
    text-align: left;
    flex-flow: column wrap;
}

.landing-container .container .info {
    max-width: 90%;
    width: auto;
    margin-top: 3rem;
}

.landing-container .container .profile-image {
    max-width: 512px;
    max-height: 512px;
    width: auto;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    /* margin-top: 4rem; */
    flex-shrink: 1;
    /* margin-right: 3rem; */
    /* margin-bottom: 3rem; */
    box-shadow: 5px 5px 10px 9px black;
}

.landing-container .profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.landing-container .container {
    color: #7DA0CA;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    column-gap: 8rem;
}

.landing-container .name {
    letter-spacing: .5rem;
    font-weight: bolder;
    font-size: xx-large;
    color: #C1E8FF;
}

.landing-container .container .info .title {
    margin: 20px 0;
    font-size: 1rem;
    font-weight: bold;
}

.landing-container .container .info .social-icons {
    display: flex;
    gap: 30px;
    justify-content: start;
    margin-bottom: 30px;
    align-content: center;
}

.landing-container .container .info .social-icons img {
    width: auto;
    height: 25px;
}

.landing-container .container .info .social-icons a {
    color: #7DA0CA;
    text-decoration: none;
}

.landing-container .description {
    font-size: 1rem;
    max-width: 800px;
    text-wrap: pretty;
}

.landing-container .cta-button {
    background-color: #C1E8FF;
    color: #021024;
    border: none;
    padding: 15px 40px;
    border-radius: 10px;
    font-size: 1.8em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.landing-container .cta-button:hover {
    background-color: #7DA0CA;
}

.landing-container #layout-divider {
    flex-basis: 15%;
    height: 0;
}




/* About Me Page styling */
.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    margin: 0 10px;
    flex-flow: column wrap;
}

.about-container .aboutMe {
    text-align: center;
    max-height: 90vh;
}

.aboutMe p {
    padding-bottom: 100px;
    font-size: 20px;
    width: 80%;
    margin: auto;
    text-wrap: wrap;
    opacity: 80%;
}

.about-container h1 {
    padding: 50px;
    font-size: 36px;
}

.about-container .aboutMe .cta-button {
    background-color: rgba(193, 232, 255, 1);
    opacity: 30%;
    color: #021024;
    border: none;
    padding: 15px 40px;
    border-radius: 10px;
    font-size: 1.8em;
    cursor: not-allowed;
    text-align: center;
    text-decoration: none;
}

.about-container .EduAndExp {
    padding-top: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-flow: column;

}

.about-container .EduAndExp section {
    width: 400px;
    text-align: start;
    text-wrap: wrap;
}

.about-container .EduAndExp .timeline-container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 100px;
}

.timeline-container #red {
    padding: 20px;
    background-color: #A53E23;
    color: white;
    border-radius: 20px;
    opacity: 80%;
    font-size: 12px;
}

.timeline-container #blue {
    padding: 20px;
    background-color: #50A0FF;
    color: white;
    border-radius: 20px;
    opacity: 80%;
    font-size: 12px;

}

.timeline-container #green {
    padding: 20px;
    background-color: #3C8938;
    color: white;
    border-radius: 20px;
    opacity: 80%;
    font-size: 12px;
}

.timeline-container #green p {
    vertical-align: middle;
}

/* ================================================ */
/* Skill Page styling, layouting*/
.skill-container {
    display: flex;
    flex-direction: column;
}

.skill-container h1 {
    padding: 50px;
    flex-basis: 100%;
    text-align: center;
    letter-spacing: 5px;
    font-weight: bolder;
}

.skill-container section {
    height: 500px;
    width: 300px;
    text-align: center;
    margin: 50px;
}

.skill-container section p {
    font-size: 12px;
}

.skill-container section h2 {
    padding-top: 20px;
}

.skill-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 200px;
}

.skill-level {
    position: absolute;
    right: 0px;
    top: 85%;
    z-index: 2;
    padding: 10px 30px;
    color: white;
    background-color: green;
    width: auto;
    float: right;
}

.imageBox {
    position: relative;
}

#html {
    background-color: rgba(255, 108, 57, 0.6);
    border: 4px solid rgba(228, 77, 38, 1);
    border-radius: 15px;
}

#css {
    background-color: rgba(52, 125, 198, 0.6);
    border: 4px solid rgba(31, 98, 174, 1);
    border-radius: 15px;
}

#js {
    background-color: rgba(247, 224, 29, 0.6);
    border: 4px solid rgba(247, 224, 29, 1);
    border-radius: 15px;
}

#nodejs {
    background-color: rgba(110, 188, 71, 0.6);
    border: 4px solid rgba(60, 137, 56, 1);
    border-radius: 15px;
}

#vuejs {
    background-color: rgba(64, 184, 132, 0.6);
    border: 4px solid rgba(50, 74, 91, 1);
    border-radius: 15px;
}

#laravel {
    background-color: rgba(18, 20, 28, 0.6);
    border: 4px solid rgba(255, 45, 32, 1);
    border-radius: 15px;
    padding: 10px 55px;
}

/* =============================================== */
/* Contact Page styling / layouting */
.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    flex: 1;
}

/* Form styles */
.contact-form {
    background-color: #274763;
    /* Slightly lighter blue */
    padding: 30px;
    margin: 50px;
    border-radius: 30px;
    box-shadow: 10px 10px 20px 11px rgba(84, 131, 179, 0.20);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-row {
    display: flex;
    gap: 15px;
    padding-bottom: 30px;
}
.form-input,
.form-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #C1E8FF;
    color: #C1E8FF;
    padding: 10px;
    flex: 1;
    font-size: 16px;
    outline: none;
}

.form-input::placeholder,
.form-textarea::placeholder {
    color: rgba(193, 232, 255, 0.50);
    /* Lighter placeholder color */
}

.full-width {
    flex: 1;
}

.form-textarea {
    resize: none;
    height: 100px;
}

.form-button {
    margin: 0 auto;
    background-color: #C1E8FF;
    color: #021024;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 20px 50px;
}

.form-button:hover {
    background-color: #7DA0CA;
}

.contact-container .social-icons {
    display: flex;
    gap: 30px;
    justify-content: start;
    margin-bottom: 30px;
    align-content: center;
}

.contact-container .social-icons img {
    width: auto;
    height: 25px;
}

.contact-container .social-icons a {
    color: #7DA0CA;
    text-decoration: none;
}


/* ================================================ */
/* Footer */
.fixed-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: #052659;
    padding: 20px;
    text-align: center;
    color: #7DA0CA;
    font-size: 0.875rem;
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: #052659;
    padding: 20px;
    text-align: center;
    color: #7DA0CA;
    font-size: 0.875rem;
}
.absolute-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: #052659;
    padding: 20px;
    text-align: center;
    color: #7DA0CA;
    font-size: 0.875rem;
}

.space-divider {
    padding-left: 100px;
    padding-right: 100px;
}

@media screen and (max-width: 850px) {
    .fixed-footer {
        padding: 20px;
        font-size: 0.575rem;
        text-align: center;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 10;
        width: 100%;
    }

    .space-divider {
        padding-left: 30px;
        padding-right: 30px;
    }

    footer {
        font-size: 0.575rem;
    }

    .absolute-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        background-color: #052659;
        padding: 20px;
        text-align: center;
        color: #7DA0CA;
        font-size: 0.575rem;
    }
}

/* Mobile */
@media screen and (max-width: 850px) {
    .landing-container .container {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .landing-container .container .info .social-icons {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .aboutMe {
        font-size: 16px;
        text-align: center;
        max-height: 90vh;
    }

    .about-container .EduAndExp {
        padding-top: 100px;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-flow: column;
        margin-top: 150px;
    }

    .about-container .EduAndExp section {
        width: 300px;
        text-align: start;
        text-wrap: wrap;
    }
}

@media screen and (max-width: 850px) {
    .nav-items{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 50px;
        width: 100%;
    }
    .burger {
      display: block;
      background-color: #052659;
    }
    .navbar .nav-links {
      position: fixed;
      margin: 0;
      top: 0;
      left: 0;
      height: 100vh;
      width: 50%;
      display: flex;

      row-gap: 5px;
      background: #C1E8FF;

      transform: translateX(-100%);
      /* transition: transform 1s ease; */
      /* box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5); */
    }
    .navbar .nav-links .nav-container{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 50px;
        text-align: center;
        justify-content: space-between;
    }
    .nav-links .logo-container{
        width: 100%;
        height: 71px;
        display: flex;
        align-items: flex-start;
        justify-content: start;
        border-bottom: 1px solid rgba(5, 38, 89, 0.8);
    }
    .nav-links .logo-container a{
        font-size: 1.2rem;

    }
    .nav-links .nav-container li{
        display: flex;
        margin: 0 auto;
        width: 80%;
    }
    .navbar .nav-links .nav-container a {
        color: #052659;
        text-decoration: none;
        font-size: 1.2rem;
    }
    .nav-links .nav-container li a{
        display: flex;
        justify-content:center;
        align-items: center;
    } 
    .nav-links li a img{
        padding: 20px;
    }
    .nav-links li a .logo{
        padding: 0px;
    }

    .form-row input{
        width: 40px;
    }
  }